.piccontainer {
  background-color: #ddf;
  border: 1px solid black;
  padding: 10px;
}

.pic {
    background-color: white;
    float: left;
    margin: 5px;
    text-align: center;
    max-width: 350px;
    height: 300px;
}

.pic img {
  max-width: 350px;
  max-height: 250px;
}

.title {
  font-weight: bold;
}

.tag {
  text-color: gray;
}

.tag:hover{
  background-color: gray;
  color: white;
}

.clear {
  clear: both;
}
