<!doctype html>
<html ng-app>
  <head>
    <title> Pulcher </title>
    <script src="lib/angular/angular.js"></script>
    <script src="js/db.js"></script>
    <script src="js/picture.js"></script>
    <link rel="stylesheet" href="css/picture.css">

  </head>
  <body>

    <p> Pulcher repository </p>

    <div class="piccontainer" ng-controller="PictureDisplayCtrl">
    Contains {{pictures.length || "no"}} pictures.
    <br>

    <button ng-click="loadPictures()"> LoadFromDB </button>
    <div class="search">
        Search tags: <input ng-model="query">
        <button ng-click="setQuery('')"> Clear </button>

    </div>

    <div class="newpic">
        Add pic: <input ng-model="putativepic"> <button ng-click="addPic(putativepic)"> Add </button>
    </div>

    <div class="pic" ng-repeat="picture in pictures | filter:query">

        <span class="title"> {{picture.name}} </span>
        <br>
        <img ng-src="{{picture.url}}" > </img>
        <br>
        <span class="tag" ng-repeat="tag in picture.tags" ng-click="setQuery(tag.name)">
            #{{tag.name}}
        </span>
    </div>

    <div class="clear"></div>
</div>

  </body>
</html>
