<!doctype html>
<html ng-app="pulcher">
  <head>
    <title> Pulcher </title>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/db.js"></script>
    <script src="components/angular-indexedDB/src/indexeddb.js"></script>
    <script src="js/picture.js"></script>
    <link rel="stylesheet" href="css/picture.css">

  </head>
  <body>

    <p> Pulcher repository </p>

    <div class="piccontainer" ng-controller="PictureDisplayCtrl">
    Contains {{pictures.length || "no"}} pictures.
    <br>

    <div class="search">
        <input ng-model="query" placeholder="Search tags">
        <button ng-click="setQuery('')"> Clear </button>
    </div>

    <div class="newpic">
        <input ng-model="putativepic" placeholder="New Pic URL">
        <button ng-click="addPic(putativepic)"> Add </button>
    </div>

    <div class="pic"
      ng-repeat="picture in pictures | filter:query"
      ng-mouseenter="picture.hovering = true"
      ng-mouseleave="picture.hovering = false"
      >

      <img ng-src="{{picture.url}}">
      <br>
      <span class="tag"
        ng-repeat="tag in picture.tags"
        ng-click="removeTagFromPicture(tag.name, picture)"
        >
          #{{tag.name}}
        </span>
        <br>
        <input
        ng-model="picture.newtag"
        ng-change="checkForNewTags(picture)"
        placeholder="new tags"
        >
      <button
        ng-click="deletePic(picture)" >
        Delete Pic
      </button>

    </div>

    <div class="clear"></div>
  </div>

</body>
</html>
